@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html {
    height: 100vh;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .7em;
    margin-bottom: 50px;
    opacity: .8;
    line-height: 2;
}

.main-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.main-container > div {
    width: 175px;
    padding: 35px;
}

#sedans {
    background-color: hsl(31, 77%, 52%);
}

#suvs {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}

h2 {
    text-transform: uppercase;
}

.button {
    display: inline;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    html {
        height: fit-content;
        padding: 100px 0;
    }

    .main-container {
        flex-direction: column;
    }
}